:root {
    --color-bg: #333;
    --color-main: #555;
    --color-accent: #db0;
    --color-fringe: #afa;
    --text-color: #fff;
    --border: 2px solid var(--color-accent);
    --transparent: rgba(0,0,0,0);
}

body {
    background-color: var(--color-bg);
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    font-family: "Lucida Console", monospace;
    font-size: 12px;
    overflow-y: auto;
    user-select: none;
    color: var(--text-color);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 250px;
    height: 400px;
}

#container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 1% 2%;
    background-color: var(--color-main);
    border-radius: 5px;
}

input {
    accent-color: var(--color-fringe);
}

.temp {
    font-size: x-large;
}

/* selection */
::selection {
    color: var(--color-fringe);
    background: rgba(255, 255, 255, 0.3);
}